<!DOCTYPE html>
<html>

<head>
    <title>Bank App</title>
    <!-- <link rel="stylesheet" type="text/css" href="/home/colby/goATM/static/styles.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        /* styles.css */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <h1>Welcome to the Bank App</h1>
    <p>This is the front-end of the bank application.</p>

    <form id="userForm" action="/create/user" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" required>

        <input type="submit" value="Create User">
    </form>

    <form id="LoginForm" action="/user/login" method="post">
        <label for="firstNameLogin">First Name:</label>
        <input type="text" name="firstName" id="firstNameLogin" required>

        <input type="submit" value="LoginUser">
    </form>


    <div id="userInfo">
        {{if .User}}
        <p>User ID: {{.User.Id}}</p>
        <p>First Name: {{.User.FirstName}}</p>
        <p>Last Name: {{.User.LastName}}</p>
        <p>Bank Number: {{.User.BankNumber}}</p>
        <p>Checking Balance: {{.User.CheckingBalance}}</p>
        <p>Savings Balance: {{.User.SavingsBalance}}</p>
        <p>Created At: {{.User.CreatedAt}}</p>
        <p>Bank: {{.Bank.Name}}</p>
        <p>Checking Amount: {{.User.CheckingBalance}}</p>
        <p>Savings Amount: {{.User.SavingsBalance}}</p>
        {{range .User.BankStatement}}
        <p>Action: {{.TransactionType}}</p>
        <p>Amount: {{.TransactionAmount}}</p>
        <p>Time: {{.TransactionDate}}</p>
        {{end}}
        {{end}}
    </div>
</body>

</html>